<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<!--    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>-->

    <script>

        $(document).ready(
            function($) {

                $("#btn-save").on("click",function() {

                    doAjax();

                    var data = {};
                    var time  = "8:00 - 9:00";
                    data["time"] = "fuckiing time0";

                    // $("#btn-save").prop("disabled", true);

                    // $.ajax({
                    //     type: "POST",
                    //     contentType: "application/json",
                    //     url: "/path-to/hosting/save",
                    //     // data: JSON.stringify(data),
                    //     // data: JSON.stringify(data),
                    //     data: time,
                    //     dataType: 'json',
                    //     timeout: 600000,
                    //     success: function (data) {
                    //         $("#btn-update").prop("disabled", false);
                    //         display(data);
                    //         //...
                    //     },
                    //     error: function (e) {
                    //         $("#btn-save").prop("disabled", false);
                    //         alert("error " + e);
                    //         //...
                    //     },
                    //     done : function(e) {
                    //         console.log("DONE");
                    //     }
                    // });


                });


                function doAjax() {
                    


                    var inputText = $("#input_str").val();

                    $.ajax({
                        url : 'getCharNum',
                        type: 'GET',
                        dataType: 'json',
                        contentType: 'application/json',
                        mimeType: 'application/json',
                        data : ({
                            text: "8:00 - 9:00"
                        }),
                        success: function (data) {

                            var result = '"'+data.time+'", '+data.isFree+' characters';
                            alert(result);
                            // $("#result_text").text(result);
                        }
                    });
                }

            });

    </script>

</head>
<body>

<!--<h1> sdfsdfsdf </h1>-->

<button id="btn-save">button</button>

</body>
</html>